body {    
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#clock {
    font-size: 20px;
    color: rgb(231, 226, 222);
    margin: 0px;
    text-align: right;
    position: fixed;
    padding: 15px;
    right: 3px;
    top: 0px;
}

#weather {
    font-size: 20px;
    color: rgb(231, 226, 222);
    margin: 5px;
    text-align: left;
    padding: 10px;
}


input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 45%;
    height: 50px;
    font-size: 18px;
    border: none;
    color: rgb(231, 226, 222);
    background-color: rgba(0, 0, 0, 0); 
    border-bottom: 2px solid #201e1e;
    outline: none;
    margin-left: 6%;
    margin-top: 0px;
}


#quote {
    background: rgb(164, 155, 145, 0.2);
    color: rgb(231, 226, 222);
    text-align: center;
    padding: 20px;
    margin-top: 20px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
    width: 65%;
    border: 10px;
    padding: 10px;
    float: left;
    margin: auto;
}

#greeting {
    font-size: 65px;
    margin-left: 5%;
    margin-top: 4%;
}


.draggable {
    background-color: #fffcb3; 
    opacity: 90%;
    margin: 10px;
    padding: 15px 20px;
    width: 150px;
    min-height: 150px;
    border: 1px solid #e6d647;
    border-radius: 1px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    position: absolute; 
    transform: rotate(-2deg);
    cursor: grab;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

.draggable:hover {
    transform: rotate(0deg) translateY(-5px); 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); 
}


button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px; 
}

button i {
    color: #d1ba7b;  
    font-size: 16px; 
}

button:hover i {
    transform: scale(1.2); 
}

button:active i {
    transform: scale(0.9); 
}

